@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Events Calendar</h1>
    <p>See our <a href="/calendarevents">Calendar Events</a> comming up!</p>
</div>